@import '@/assets/styles/global.scss';

.tab {
  &-nav {
    width: 100%;
    background: #e8e8e8;
    border-radius: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 1px solid #e8e8e8;
    margin-bottom: 16px;
    &__item {
      @include title(#bdbdbd, 16px);
      padding: 16px 64px;
      border-radius: 100px;
      transition:
        background 0.2s ease,
        color 0.2s ease;

      cursor: pointer;
      &.selected {
        background: #fff;
        color: #5db075;
      }
    }
  }
}
